{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wildlife Watcher</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'ui_theme/assets/img/favicon1.png' %}" rel="icon">
  <link href="{% static 'ui_theme/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'ui_theme/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'ui_theme/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'ui_theme/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'ui_theme/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'ui_theme/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'ui_theme/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'ui_theme/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'ui_theme/assets/css/style.css' %}" rel="stylesheet">
  <script src="{% static 'ui_theme/assets/js/jquery-3.7.1.min.js' %}"></script>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  {% if user.is_authenticated %}
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'backend_home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'ui_theme/assets/img/tgt_logo_0.png' %}" alt="">
        <span class="d-none d-lg-block p-2" style="font-size:22px;">Wildlife Watcher</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> --><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <!-- <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li> --><!-- End Search Icon-->

        <!-- Nav bar notifications location start - Ravikant -->
        <!-- Nav bar notifications location end - Ravikant -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{user.profile_picture.url}}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">
                {% if user.is_authenticated %}
                    <h6>{{ user.username }}</h6>
                {% else %}
                    <h6>K. Anderson</h6>
              {% endif %}
            </span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              {% if user.is_authenticated %}
                <h6>{{ user.username }}</h6>
              {% else %}
                <h6>Kevin Anderson</h6>
              {% endif %}
              <span>{{ user.get_role_display }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'user_detail' user.id %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'user_update_password' user.id %}">
                <i class="bi bi-gear"></i>
                <span>Change Password</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'backend_help' %}">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <!-- <button type="submit">logout</button> -->

              <a class="dropdown-item d-flex align-items-center" href="javascript:;" onclick="parentNode.submit();" >
                <i class="bi bi-box-arrow-right"></i>
                <span>Log Out</span>
              </a>
              </form>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  {% endif %}
  {% if user.is_authenticated %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <h5>  </h5>
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
        <h4 style="font-size:18px; font-weight:bold;">
          <!-- <i class="bi bi-grid"></i> -->
          <!-- <i class="bi bi-file-earmark-person-fill"></i> -->
          <span>{{ user.get_role_display }}</span>
        </h4>
        <hr>
      </li>
    {% if user.get_role_display == 'Watcher' %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'watcher_home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'incident_home' %}">
          <i class="bi bi-binoculars-fill"></i>
          <span>Incidents (माझ्या नोंदी)</span>
        </a>
      </li><!-- End Contact Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user_detail' user.id %}">
          <i class="bi bi-envelope"></i>
          <span>My Profile (वयक्तिक माहिती)</span>
        </a>
      </li>
      {% elif user.get_role_display == 'Coordinator' %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'coordinator_home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user_home' %}">
          <i class="bi  bi-people-fill"></i>
          <span>Users</span>
        </a>
      </li><!-- End Contact Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'incident_home' %}">
          <i class="bi bi-binoculars-fill"></i>
          <span>Incidents</span>
        </a>
      </li>
      {% elif user.get_role_display == 'Manager' %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'manager_home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'incident_home' %}">
          <i class="bi bi-envelope"></i>
          <span>Incidents</span>
        </a>
      </li>
      {% else %}
        Memeber
      {% endif %}
      <li class="nav-item">
        <hr>
        <a class="nav-link collapsed" href="{% url 'backend_conservation_booklet' %}">
          <i class="bi bi-journal-check"></i>
          <span>संवर्धन पुस्तक</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'backend_project' %}">
          <i class="bi bi-info-square-fill"></i>
          <span>उपक्रमाविषयी माहिती</span>
        </a>
      </li>
    </ul>

  </aside><!-- End Sidebar-->
  {% endif %}
  <main id="main" class="main" style="padding-top:1.5em;">
    {% block content %}{% endblock content %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <!-- <div class="copyright">
      &copy; Copyright <strong><span>Watcher</span></strong>. All Rights Reserved
    </div> -->
    <div class="credits">
      Developed by <a href='https://www.thegrasslandstrust.org/' target='_blank' style="color:#12995d;">The Grasslands Trust</a>. <span class="d-md-none"><br></span>Supported by <a href='https://ashrayahasthatrust.org/' target='_blank' style="color:#12995d;">Ashraya Hastha Trust</a>.
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'ui_theme/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'ui_theme/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'ui_theme/assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'ui_theme/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'ui_theme/assets/vendor/quill/quill.js' %}"></script>
  <script src="{% static 'ui_theme/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'ui_theme/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'ui_theme/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'ui_theme/assets/js/main.js' %}"></script>

</body>
</html>
