{% extends 'backend/base.html' %}
{% load static %}
{% block content %}
<div class="container p-0" oncontextmenu="return false;">
  <section class="section d-flex flex-column align-items-center ">
    <h2 style="font-size:35px;">संवर्धन पुस्तक</h2>
    <hr>
    <img
      src="https://drive.google.com/thumbnail?id=1cPhI1M5K7fEKzMe7S61eHrJ2dtTeOX5h&sz=w1000" class="img-fluid" alt="Responsive image">
    <div class="p-1">1</div>
    <img
      src="https://drive.google.com/thumbnail?id=1QxUvkfnng63Y1fM72Z_c6l6WDcHruaGa&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">2</div>
    <img
      src="https://drive.google.com/thumbnail?id=1BoYMotPcFyHciTlZkE5nfX8a8MpKgrPI&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">3</div>
    <img
      src="https://drive.google.com/thumbnail?id=1vLQGiE42X9k4CH45GWITzs-KLB_PMsgG&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">4</div>
    <img
      src="https://drive.google.com/thumbnail?id=1idcD_o6jwlqhc8cCNBBsPO0Zlr2MfMxT&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">5</div>
    <img
      src="https://drive.google.com/thumbnail?id=1cbjSVVfyyIgqmXhUD7u-DE2rrOMaAoMI&sz=w1000"
      class="img-fluid" alt="Responsive image">

    <div class="p-1">6</div>
    <img
      src="https://drive.google.com/thumbnail?id=1U_7TvFJCRyVahQnBbw4Sx8SYTocdRJEO&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">7</div>
    <img
      src="https://drive.google.com/thumbnail?id=1kQQHiAmFjXd2jlpru7Zds48joM35WQR_&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">8</div>
    <img
      src="https://drive.google.com/thumbnail?id=1V-eAJ3dWS6cLFyqxlUb0CBKcKMtDa5IL&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">9</div>
    <img
      src="https://drive.google.com/thumbnail?id=1Eumam-eMRpp6ygK2VfgVczHa9AnQ9-sn&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">10</div>
    <img
      src="https://drive.google.com/thumbnail?id=1QNfcGC8f8d-UNqub_UAiiIfn3mqht_qy&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">11</div>
    <img
      src="https://drive.google.com/thumbnail?id=1uijzDOS9gtGULyCo4hly6iBfSldn12QX&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">12</div>
    <img
      src="https://drive.google.com/thumbnail?id=1rfjtwGiq7iuRmppla__h8DjKnyq3nN5h&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">12</div>
    <img
      src="https://drive.google.com/thumbnail?id=1uxhYNK-jLOQs_GilWWsnZTNWqFjoi052&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">14</div>
    <img
      src="https://drive.google.com/thumbnail?id=19P9qXYaKPQue44tfeU4hyZQd9MNKzcZe&sz=w1000"
      class="img-fluid" alt="Responsive image">

    <div class="p-1">15</div>
    <img
      src="https://drive.google.com/thumbnail?id=14HzpkTjsgR4NpheWrdg_YApeDSm1_XyT&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">16</div>
    <img
      src="https://drive.google.com/thumbnail?id=1r7khenaD6fMWriKavtj1cdtZ6RxFpwuE&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">17</div>
    <img
      src="https://drive.google.com/thumbnail?id=1Cez84KyggWnf2z6_fCD71uQqTNPWATCJ&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <div class="p-1">18</div>
    <img
      src="https://drive.google.com/thumbnail?id=1xith7X0O0p8jhNpJ76KVrEhuCxhAXgm5&sz=w1000"
      class="img-fluid" alt="Responsive image">
    <!-- <div class="p-1">19</div> -->
    <img
      src="https://drive.google.com/thumbnail?id=1-gC3bQLrNRPgWyryjYGZtb3l1SOusH4C&sz=w1000"
      class="img-fluid" alt="Responsive image">

    <hr>
    <a class="btn btn-primary" href="{% url 'backend_home' %}">Back to home</a>
  </section>
</div>
{% endblock content %}
